@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap");

:root {
  /* colours */
  --clr-purple: #7550fe;
  --clr-light-purple: #bca8ff;
  --clr-dark-purple: #120c2d;
  --clr-green: #1acb98;
  --clr-beige: #ffeeda;
  --clr-grey: #f5f4f8;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1400px;

  margin-inline: auto;
}

header {
  max-width: 1920px;
  display: flex;
  align-items: center;
  padding-block: 25px;
}

header img.logo {
  width: 50px;
  height: 50px;
  margin-inline: 20px;
}

nav {
  margin-right: auto;
}

nav .dropdown {
  display: flex;
  padding-left: 20px;
}

nav .dropdown .nav-link {
  padding-right: 25px;
  font-weight: 500;
}

.side-area {
  display: flex;
  align-items: center;
}

.side-area .notification {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--clr-grey);
  border-radius: 50%;
  border-color: var(--clr-grey);
}

.side-area .profile-area img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-inline: 20px;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  width: initial;

  background-color: var(--clr-purple);
}

.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  font-size: 50px;
  color: white;
  margin: 0;
}

p {
  color: var(--clr-light-purple);
  width: 50%;
}

.btn-area {
  display: flex;
  gap: 10px;
}

button {
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: 500;
}

button.course {
  height: 65px;
  width: 200px;
  background-color: var(--clr-green);
  border-color: var(--clr-green);
  border: 1px;
  color: white;
}

button.instructor {
  width: 230px;
  border: 1px;
  border-color: white;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  min-width: 100%;
  min-height: 100%;
}

.under-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
}

.mini-cards {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  height: 100px;
  background-color: #f5f4f8;
  margin-right: 150px;
  padding: 20px;
}

.mini-cards p {
  font-size: 20px;
  color: #120c2d;
}
